[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lbuild = "==1.20.0"
pyelftools = "*"
artifacts = "*"
scons = "*"
setuptools = "*"

[dev-packages]

[requires]
python_version = "3"
